/* Minimal CSS Reset, source: https://alligator.io/css/minimal-css-reset/ */
html {
  box-sizing: border-box;
  font-size: 14px;
  font-family: helvetica;
  overflow: scroll;
  min-width: 300px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Body */
body {
  height: 100vh;
}

article {
  height: 95vh;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  height: auto;
}
.navigation {
  display: flex;
  padding-right: 16px;
}
.naviItem {
  padding: 8px;
  margin-left: 16px;
  line-height: 30px;
  color: grey;
  cursor: default;
  &:hover {
    cursor: pointer;
  }
}

.headerLogo {
  padding: 8px;
  font-size: 64px;
}

.naviItem:hover {
  color: black;
}

#CO2container {
  width: 100vw;
  & > div {
    height: 50%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
  }
}

.box {
  border: 4px solid black;
  width: 45%;
  max-width: 500px;
  height: 80%;
  background-color: white;
  margin: 1%;
  font-family: Helvetica;
  & > .boxHeader {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    flex-wrap: wrap;
    & > h2 {
      padding: 10px;
      font-weight: 700;
      font-size: 2.5rem;
      white-space: nowrap;
    }
    & > span {
      display: block;
      width: 100%;
      font-size: 3rem;
    }
  }
  & > .boxContent {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 200px;

    & > div {
      display: flex;
      align-items: center;
    }
    #avg {
      display: none;
      position: absolute;
    }
    .val {
      font-size: 3rem;
    }
    &:hover {
      #avg {
        display: flex;
      }
    }
  }

  @media screen and (max-width: 800px) {
    width: 80%;
    height: 40%;
  }
}

.centered {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.red {
  color: red;
}

.green {
  color: green;
}
i {
  font-size: 1rem;
}
.title {
  display: flex;
  width: 100%;
  font-family: Helvetica;
  font-size: 6rem;
  padding: 3% 0 0 3%;
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.headerLogo {
  padding-left: 8px;
  display: block;
  height: 60px;
  width: 60px;
  color: black;
  content: url("../assets/co2.png");
}
