/* Minimal CSS Reset, source: https://alligator.io/css/minimal-css-reset/ */
html {
  box-sizing: border-box;
  font-size: 14px;
  font-family: helvetica;
  overflow: scroll;
  min-width: 300px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Body */
body {
  height: 100vh;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  height: auto;
}
.navigation {
  display: flex;
  padding-right: 16px;
}
.naviItem {
  padding: 8px;
  margin-left: 16px;
  line-height: 30px;
  color: grey;
  cursor: default;
  &:hover {
    cursor: pointer;
  }
}

.headerLogo {
  padding: 8px;
}

.naviItem:hover {
  color: black;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 200px;
}
