/* Minimal CSS Reset, source: https://alligator.io/css/minimal-css-reset/ */
html {
  box-sizing: border-box;
  font-size: 14px;
  font-family: helvetica;
  overflow: scroll;
  min-width: 300px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Body */
body {
  height: 100vh;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  height: auto;
}
.navigation {
  display: flex;
  padding-right: 16px;
}
.naviItem {
  padding: 8px;
  margin-left: 16px;
  line-height: 30px;
  color: grey;
  cursor: default;
  &:hover {
    cursor: pointer;
  }
}

.headerLogo {
  padding: 8px;
}

.naviItem:hover {
  color: black;
}

#CO2container {
  width: 100vw;
  height: 95vh;
  & > div {
    height: 50%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }
}

.box {
  font-family: Helvetica;
  & > div {
    & > h2 {
      font-weight: 800;
      font-size: 3rem;
    }
    & > span {
      display: block;
      width: 100%;
      font-size: 3rem;
    }
    &:last-child {
      display: flex;
      width: 100%;
      height: inherit;
      align-items: center;
    }
  }
  border: 4px solid black;
  width: 45%;
  height: 80%;
  background-color: white;
  padding: 5%;

  @media screen and (max-width: 600px) {
    width: 80%;
    height: 40%;
  }
}
